.post-header {
    display: flex;
    height: 250px;
    width: 100%;
    background: #F5F7FA;
    justify-content: space-between;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.art-title {
    font-weight: 800;
    font-size: 48px;
}

.post-explain {
    font-weight: 400;
    font-size: 14px;
}

.search-bar {
    align-items: center;
    display: flex;
    padding-right: 100px;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.search-form {
    position: relative;
    width: 300px;
    height: 35px;
    background: #57bd84;
    border-radius: 10px;
}

.form-input {
    height: 36px;
    border: 0;
}



input[type="search"] {
    outline: 0;
    width: 250px;
    background: #fff;
    padding: 0 1.6rem;
    border-radius: .6rem;
    appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: all;
    z-index: 99 !important;
    position: absolute;
}

.button-input {
    top: 0;
    right: 0;
    /* display: none; */
    position: absolute;
    /* width: 6rem; */
    border-radius: 0 .7rem .7rem 0;
    width: 34px;
    bottom: 0;
    background: transparent;
    border: none;
    text-align: center;
    font-weight: 500;
}



.form-input:not(:placeholder-shown) {
    border-radius: .5rem 0 0 .5rem;
    width: calc(100% - 5.4rem);
}

.form-input:not(:placeholder-shown) button {
    display: block;
}

/* 
label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
} */

.breadcrumb-nav {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px 100px 0 100px;
}

.navigator {
    font-size: 12px;
}

.title {
    font-size: 34px;
}

.pill-tabs {
    display: flex;
    flex-direction: row;
}

.pill-tabs>li {
    padding: 10px;
    margin: 10px;
    background: #731B7F;
    color: white;
    border-radius: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}