.header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F5F7FA;
    margin-bottom: 200px;
}

.headerTitle { 
    text-align: center;

}
.headerTitle > h1 {
    padding: 40px 20px 0px 20px;
    font-size: 48px;
    color: black;

}
p {
    color: black;
}
.searchBars {
    padding-top: 40px;
    display: flex;
    position: relative;
    left: 45px;

}
.searchBars input[type=text]{
    width:400px;
    height:40px;
    border-radius: 10px;
    border: none;
    padding: 0px 20px 0px 20px;
    animation: none;
}

.searchBars button{
    background-color: #548F24;
    position: relative;
    /* padding: 5px 10px; */
    font-size: 12px;
    border: none;
    cursor: pointer;
    width:80px;
    height:40px;
    left: -80px;
    border-radius: 0 10px 10px 0;
    color: white;
}

.greeting {
    padding: 60px 0 0 0;
    font-size: 20px;
    color: black;

}

.cardContainer {
    display: flex;
    margin: auto;
    top: 360px;
    left: 240px;
    position: absolute;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    color: black;
}
.card-footer {
    color: white;
    background-color: #731B7F;
    padding: 10px;
}
.card>img {
    width: 300px;
    height: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}